In [1]:
from sams import config
import pandas as pd
import sqlite3
import json

2024-10-12 19:01:15.762 | INFO     | sams.config:<module>:11 - PROJ_ROOT path is: C:\Users\Admin\Documents\GitHub\sams

In [2]:
con = sqlite3.connect(config.SAMS_DB)
query = """
    SELECT *
    FROM students
    WHERE module='ITI' AND aadhar_no IS NOT NULL AND sams_code IS NOT NULL
"""
df = pd.read_sql(query, con)

In [3]:
df.shape

(361680, 55)

In [29]:
df.columns

Index(['id', 'barcode', 'student_name', 'gender', 'religion_name', 'dob',
       'nationality', 'annual_income', 'address', 'state', 'district', 'block',
       'pin_code', 'social_category', 'domicile', 's_domicile_category',
       'outside_odisha_applicant_state_name',
       'odia_applicant_living_outside_odisha_state_name',
       'residence_barcode_number', 'tenth_exam_school_address',
       'eighth_exam_school_address', 'highest_qualification',
       'had_two_year_full_time_work_exp_after_tenth', 'gc', 'ph', 'es',
       'sports', 'national_cadet_corps', 'pm_care', 'orphan', 'income_barcode',
       'tfw', 'ews', 'boc', 'boc_regd_no', 'course_name', 'course_period',
       'beauty_culture_type', 'sams_code', 'reported_institute',
       'reported_branch_or_trade', 'institute_district', 'typeof_institute',
       'phase', 'year', 'admission_status', 'enrollment_status',
       'applied_status', 'date_of_application', 'application_status',
       'aadhar_no', 'registration_number', 'mark_data', 'module',
       'academic_year'],
      dtype='object')

In [ ]:
df.dtypes

In [27]:
def count_missing(df):
    missing_counts = {}
    for column in df.columns:
        # Count missing values: None, "", " ", "NA"
        missing_count = df[column].isnull().sum()  # Count None values
        missing_count += df[column].apply(lambda x: x in ["", " ", "NA"]).sum()  # Count empty strings, spaces, and "NA"
        missing_counts[column] = missing_count
    return missing_counts


missing_counts = count_missing(df)
missing_counts = {key: int(value) for key, value in missing_counts.items() if int(value) > 0}
missing_counts

{'nationality': 361680,
 'annual_income': 4885,
 'address': 2,
 'pin_code': 22031,
 'domicile': 361680,
 's_domicile_category': 361680,
 'outside_odisha_applicant_state_name': 361680,
 'odia_applicant_living_outside_odisha_state_name': 361680,
 'tenth_exam_school_address': 361680,
 'eighth_exam_school_address': 361680,
 'highest_qualification': 56906,
 'had_two_year_full_time_work_exp_after_tenth': 361680,
 'ph': 61,
 'national_cadet_corps': 361680,
 'pm_care': 361680,
 'tfw': 361680,
 'ews': 3117,
 'beauty_culture_type': 361680}

In [ ]:
[json.loads(js) for js in df['mark_data']]

In [32]:
df['religion_name'].unique()

array(['HINDU', 'OTHERS', 'MUSLIM', 'CHRISTIAN', 'SIKH', 'BUDHIST',
       'PARSI'], dtype=object)

In [33]:
df['gender'].unique()

array(['Male', 'Female', 'Transgender'], dtype=object)

In [35]:
df['annual_income'].unique()

array(['OTHER', '0-1,00,000', '1,00,000-2,50,000', '2,50,000 - 6,00,000',
       'NA', 'More than 8,00,000'], dtype=object)

In [37]:
df['gc'].unique()

array(['No', 'Yes'], dtype=object)

In [38]:
counts = df['academic_year'].value_counts()
counts = counts.sort_index()
counts

academic_year
2017     3117
2018    50453
2019    47929
2020    44161
2021    46161
2022    47296
2023    64995
2024    57568
Name: count, dtype: int64

In [30]:
unique_counts = df.groupby('academic_year')['aadhar_no'].nunique()
unique_counts

academic_year
2017     3073
2018    50431
2019    47929
2020    44161
2021    46161
2022    47296
2023    64995
2024    57568
Name: aadhar_no, dtype: int64

In [60]:
unique_quals = df.groupby('academic_year')['highest_qualification'].nunique()
unique_quals

academic_year
2017    136
2018     36
2019     24
2020      6
2021      6
2022      6
2023      6
2024      5
Name: highest_qualification, dtype: int64

In [19]:
unique_home_districts = df.groupby('academic_year')['district'].nunique()
unique_home_districts

academic_year
2017    31
2018    31
2019    31
2020    31
2021    31
2022    31
2023    31
2024    31
Name: district, dtype: int64

In [20]:
df['district'].unique()

array(['Angul', 'Keonjhar', 'Mayurbhanj', 'Dhenkanal', 'Balasore',
       'Sundargarh', 'Kendrapara', 'Jajpur', 'Bhadrak', 'Baragarh',
       'Deogarh', 'Ganjam', 'Cuttack', 'Jagatsinghpur', 'Khurda',
       'Nayagarh', 'Sambalpur', 'Jharsuguda', 'Sonepur', 'Bolangir',
       'Kalahandi', 'Koraput', 'Boudh', 'Nuapada', 'Kandhamal',
       'Rayagada', 'Puri', 'Gajapati', 'Other', 'Nawarangpur',
       'Malkangiri', 'Odisha', 'Skill Department (DTET)'], dtype=object)

In [22]:
unique_institute_district = df.groupby('academic_year')['institute_district'].nunique()
unique_institute_district

academic_year
2017    28
2018    30
2019    30
2020    30
2021    30
2022    30
2023    30
2024    30
Name: institute_district, dtype: int64

In [25]:
df['institute_district'].unique()

array(['Angul', 'Balasore', 'Baragarh', 'Bolangir', 'Boudh', 'Cuttack',
       'Deogarh', 'Dhenkanal', 'Gajapati', 'Ganjam', 'Jajpur',
       'Jharsuguda', 'Kalahandi', 'Kandhamal', 'Kendrapara', 'Keonjhar',
       'Khurda', 'Koraput', 'Malkangiri', 'Mayurbhanj', 'Nawarangpur',
       'Nayagarh', 'Nuapada', 'Puri', 'Rayagada', 'Sambalpur', 'Sonepur',
       'Sundargarh', 'Bhadrak', 'Jagatsinghpur'], dtype=object)

In [26]:
set(df['district'].unique()).symmetric_difference(set(df['institute_district'].unique()))

{'Odisha', 'Other', 'Skill Department (DTET)'}